body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, purple, skyblue);
}

h1 {
    text-align: center;
    color: white;
}

#Container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.formBox, .listBox {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 280px;
    box-shadow: 0px 3px 8px black;
}

input, textarea, select {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 8px;
    background: skyblue;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background:powderblue;
}

.Buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Buttons button {
    width: 48%;
    padding: 6px;
    font-size: 12px;
}

.eventCard {
    background: #d20ef4;
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
}
